In [16]:
import mysql.connector

msql = mysql.connector.connect(
    host='localhost',
    user='root',
    password=''
)
cursor=msql.cursor()

def show():
    cursor.execute("SHOW DATABASES")
    for i in cursor:
            print(i,end=' ')

def creat():
    name=input("enter the database name:")
    cd="CREATE DATABASE "
    cursor.execute(cd+name)
    print("created")

def usedb():
    namedb = input("select the DATABASE:")
    use ="USE " 
    cursor.execute(use+namedb)
    print("now you will use DATABASE")

def ctable():
    tname=input("Enter The Table Name:")
    ct="CREATE TABLE "
    pro=" (name VARCHAR(255),product VARCHAR(255))"
    cursor.execute(ct+tname+pro)
    print("now table is rady.")

def insert():
    tname=input("Select The Table Name:")
    td=eval(input("enter the table data number:"))
    val=("VISHAL","KIDY")
    sql="INSERT INTO",tname," (name,product) VALUES(%s,%s)"
    if 1==td:
        cursor.execute(sql,val)
#         break
        msql.commit()
        print(cursor.rowcount,"record inserted.")
    else: 
        val=input("enter the values like this [(name,product),(name,product)]:")
        cursor.executemany(ii+tname+np,val)
        msql.commit()
        print(cursor.rowcount,"record inserted.")
        
def cr():
    print(cursor.rowcount,"record")

def viwed():
    tname=input("Select The Table Name:")
    slct="SELECT * FROM "
    curser.execute(slct+tname)
    mr=cursor.fetchall()
    for i in mr:
        print(i)
show()
# print()
# creat()
# print()
usedb()
print()
ctable()
print()
insert()
print()
cr()
print()
viwed()

('amazon',) ('data',) ('demo',) ('dtabel',) ('dweb',) ('frd',) ('information_schema',) ('kdata',) ('khajir',) ('mydata',) ('mysql',) ('performance_schema',) ('phpmyadmin',) ('rockstar',) ('schooldata',) ('smh',) ('test',) ('vish',) ('vishal',) select the DATABASE:amazon
now you will use DATABASE

Enter The Table Name:dfs
now table is rady.

Select The Table Name:dfs
enter the table data number:1

AttributeError: 'tuple' object has no attribute 'encode'

In [11]:
# tname=input("Select The Table Name:")
    print("INSERT INTO")

IndentationError: unexpected indent (361575954.py, line 2)

In [30]:
tname=input("Select The Table Name:")
ty="INSERT INTO ",tname," (name,product) VALUES(%s,%s)"
vb = ''
for i in ty:
    vb = vb +i
print(vb)
print(type(vb))

Select The Table Name:df
INSERT INTO df (name,product) VALUES(%s,%s)
<class 'str'>