In [5]:
tname=input("Select The Table Name:")
ii="INSERT INTO ",tname," (name,product) VALUES(%s,%s)"
vb = ''
for i in ii:
    vb = vb +i
print(vb)
td=eval(input("enter the table data number:"))
if 1==td:
    val=input("enter the value like this (name,product):")
    gh=vb,val
    print(type(gh))
    print(vb,val)
    vb2 = ''
    for i in ii:
        vb2 = vb2 +i
    print(type(vb2))
#         break
#     msql.commit()
#     print(cursor.rowcount,"record inserted.")
# else: 
#     val=input("enter the values like this [(name,product),(name,product)]:")
#     cursor.executemany(vb,val)
#     msql.commit()
#     print(cursor.rowcount,"record inserted.")

Select The Table Name:vidhs
INSERT INTO vidhs (name,product) VALUES(%s,%s)
enter the table data number:1
enter the value like this (name,product):("fgh","ddf")
<class 'tuple'>
INSERT INTO vidhs (name,product) VALUES(%s,%s) ("fgh","ddf")
<class 'str'>

In [11]:
fg=("vish","dksyg")
fh=input()
print(type(fg))
print(type(fh))
t=tuple(fh)

print(t)
print(type(t))

("vishal","gh")
<class 'tuple'>
<class 'str'>
('(', '"', 'v', 'i', 's', 'h', 'a', 'l', '"', ',', '"', 'g', 'h', '"', ')')
<class 'tuple'>