In [12]:
import mysql.connector as sqldt

data=sqldt.connect( host="localhost",
                              user="root",
                              password="",
                              database="schooldata")

In [9]:


# mycursor.execute("CREATE DATABASE schooldata")
# mycursor.execute("SHOW DATABASES")

# for x in mycursor:
#     print(x)

('demo',)
('dtabel',)
('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('schooldata',)
('test',)
('vishal',)

In [14]:


# st="CREATE TABLE student(name VARCHAR(255),number int)"
# mycursor.execute(st)

# print("yes")

yes

In [15]:
mycursor=data.cursor()

ins="INSERT INTO student(name,number) VALUES(%s,%s)"
val=("vishal",1234567890)

mycursor.execute(ins,val)
data.commit()

print(mycursor.rowcount,"rows")

1 rows

In [6]:
td=eval(input("enter the table data number:"))
if 1==td:
    print("jy")
else:
    print("no")

enter the table data number:1
jy

In [28]:
tname=input("Select The Table Name:")
ii="INSERT INTO "
np=" (name,product) VALUES(%s,%s)"
tm=ii+tname+np
# print(tm)
td=eval(input("enter the table data number:"))
if 1==td:
    val=input("enter the value like this (name,product):")
    print(tm,val)
#         msql.commit()
#         print(cursor.rowcount,"record inserted.")
else:
    val=input("enter the values like this [(name,product),(name,product)]:")
#         print(ii+tname+np,val)
#         msql.commit()
#         print(cursor.rowcount,"record inserted.")

Select The Table Name:er
enter the table data number:1
enter the value like this (name,product):(vishal,game)
INSERT INTO er (name,product) VALUES(%s,%s) (vishal,game)

In [ ]:
import mysql.connector

msql = mysql.connector.connect(
    host='localhost',
    user='root',
    password='',
    database="meshoo"
)
cursor=msql.cursor()

def show():
    cursor.execute("SHOW DATABASES")
    for i in cursor:
            print(i)

def creat():
    name=input("enter the database name:")
    cd="CREATE DATABASE "
    cursor.execute(cd+name)
    print("created")

def usedb():
    namedb = input("select the DATABASE:")
    use ="USE " 
    cursor.execute(use+namedb)
    print("now you will use DATABASE")

def ctable():
    tname=input("Enter The Table Name:")
    ct="CREATE TABLE "
    pro=" (name VARCHAR(255),product VARCHAR(255))"
    cursor.execute(ct+tname+pro)
    print("now table is rady.")

def insert():
    tname=input("Select The Table Name:")
    ii="INSERT INTO "
    np=" (name,product) VALUES(%s,%s)"
    tm=ii+tname+np
    td=eval(input("enter the table data number:"))
    if 1==td:
        val=input("enter the value like this (name,product):")
        cursor.execute(tm,val)
#         break
        msql.commit()
        print(cursor.rowcount,"record inserted.")
    else: 
        val=input("enter the values like this [(name,product),(name,product)]:")
        cursor.executemany(ii+tname+np,val)
        msql.commit()
        print(cursor.rowcount,"record inserted.")
        
def cr():
    print(cursor.rowcount,"record")

def viwed():
    tname=input("Select The Table Name:")
    slct="SELECT * FROM "
    curser.execute(slct+tname)
    mr=cursor.fetchall()
    for i in mr:
        print(i)
show()
# creat()
print()
usedb()
print()
# ctable()
print()
# insert()
print()
cr()
print()
viwed()