In [14]:
import mysql.connector

msql = mysql.connector.connect(
    host='localhost',
    user='root',
    password=''
)
cursor=msql.cursor()

cursor.execute("SHOW DATABASES")
for i in cursor:
    print(i,end=' ')

# def creat():
#     name=input("enter the database name:")
#     cd="CREATE DATABASE "
#     cursor.execute(cd+name)
#     print("created")

namedb = input("select the DATABASE:")
use ="USE " 
cursor.execute(use+namedb)
print("now you will use DATABASE")

tname=input("Enter The Table Name:")
ct="CREATE TABLE "
pro=" (name VARCHAR(255),product VARCHAR(255))"
cursor.execute(ct+tname+pro)
print("now table is rady.")

tname3=input("Select The Table Name:")
# td=eval(input("enter the table data number:"))
val=("VISHAL","KIDY")
sql="INSERT INTO kg (name,product) VALUES(%s,%s)"
# if 1==td:
cursor=msql.cursor()
cursor.execute(sql,val)
#         break
msql.commit()
print(cursor.rowcount,"record inserted.")
# else: 
#     val=input("enter the values like this [(name,product),(name,product)]:")
#     cursor.executemany(ii+tname+np,val)
#     msql.commit()
#     print(cursor.rowcount,"record inserted.")
        
# def cr():
print(cursor.rowcount,"record")

# def viwed():
#     tname=input("Select The Table Name:")
#     slct="SELECT * FROM "
#     curser.execute(slct+tname)
#     mr=cursor.fetchall()
#     for i in mr:
#         print(i)

('amazon',) ('data',) ('demo',) ('dtabel',) ('dweb',) ('frd',) ('information_schema',) ('kdata',) ('khajir',) ('mydata',) ('mysql',) ('performance_schema',) ('phpmyadmin',) ('rockstar',) ('schooldata',) ('smh',) ('test',) ('vish',) ('vishal',) select the DATABASE:amazon
now you will use DATABASE
Enter The Table Name:kg
now table is rady.
Select The Table Name:kg
1 record inserted.
1 record

In [13]:
val=("VISHAL","KIDY")
sql="INSERT INTO (name,product) VALUES(%s,%s)"
print(type(sql))

<class 'str'>

In [11]:
val=("VISHAL","KIDY")
sql="INSERT INTO",tname3,"(name,product) VALUES(%s,%s)"
print(type(val)

SyntaxError: unexpected EOF while parsing (1560743721.py, line 3)

In [15]:
 tname=input("Select The Table Name:")
    ii="INSERT INTO ",tname," (name,product) VALUES(%s,%s)"
    vb = ''
    for i in ii:
        vb = vb +i
    print(vb)
    td=eval(input("enter the table data number:"))
    if 1==td:
        val=input("enter the value like this (name,product):")
        gh=vb,val
        print(type(gh))
        print(vb,val)
#         break
        msql.commit()
        print(cursor.rowcount,"record inserted.")
    else: 
        val=input("enter the values like this [(name,product),(name,product)]:")
        cursor.executemany(vb,val)
        msql.commit()
        print(cursor.rowcount,"record inserted.")

IndentationError: unexpected indent (443937792.py, line 2)