In [9]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="dtabel"
)

mycursor = mydb.cursor()

#mycursor.execute("CREATE TABLE student (name VARCHAR(255), address VARCHAR(255))")
sql = "INSERT INTO student (name, address) VALUES (%s, %s)"
val = [('vishal', 'Lowstreet 4'),
  ('hiten', 'Apple st 652')]
mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

2 record inserted.

In [11]:
import mysql.connector

mydata= mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "vishal"
)

cursor = mydata.cursor()

cursor.execute("CREATE TEBLE mydata (name VARCHAR(255),number VARCHAR(255),token VARCHAR(255))")

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'TEBLE mydata (name VARCHAR(255),number VARCHAR(255),token VARCHAR(255))' at line 1

In [ ]:
import mysql.connector

msql = mysql.connector.connect(
    host='localhost',
    user='root',
    password=''
)
cursor=msql.cursor()

def show():
    cursor.execute("SHOW DATABASES")
    for i in cursor:
            print(i)

def creat():
    name=input("enter the database name:")
    cd="CREATE DATABASE "
    cursor.execute(cd+name)
    print("created")

def usedb():
    namedb = input("select the DATABASE:")
    use ="USE " 
    cursor.execute(use+namedb)
    print("now you will use DATABASE")

def ctable():
    tname=input("Enter The Table Name:")
    ct="CREATE TABLE "
    pro=" (name VARCHAR(255),product VARCHAR(255))"
    cursor.execute(ct+tname+pro)
    print("now table is rady.")

def insert():
    tname=input("Select The Table Name:")
    ii="INSERT INTO "
    np=" (name,product) VALUES(%s,%s)"
    tm=ii+tname+np
    td=eval(input("enter the table data number:"))
    if 1==td:
        val=input("enter the value like this (name,product):")
        print(tm,val)
#         break
        msql.commit()
        print(cursor.rowcount,"record inserted.")
    else: 
        val=input("enter the values like this [(name,product),(name,product)]:")
        cursor.executemany(ii+tname+np,val)
        msql.commit()
        print(cursor.rowcount,"record inserted.")
        
def cr():
    print(cursor.rowcount,"record")

def viwed():
    tname=input("Select The Table Name:")
    slct="SELECT * FROM "
    curser.execute(slct+tname)
    mr=cursor.fetchall()
    for i in mr:
        print(i)
show()
# creat()
print()
usedb()
print()
# ctable()
print()
# insert()
print()
cr()
print()
viwed()

('data',)
('demo',)
('dtabel',)
('dweb',)
('frd',)
('information_schema',)
('kdata',)
('khajir',)
('mydata',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('rockstar',)
('schooldata',)
('test',)
('vish',)
('vishal',)