In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)

print(mydb)

In [8]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password=""
)

mycursor = mydb.cursor()

# mycursor.execute("CREATE DATABASE vishal")

mycursor.execute("SHOW DATABASES")

for i in mycursor:
    print(i)

('demo',)
('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)
('vishal',)

In [6]:
import mysql.connector

myd =mysql.connector.connect(
    host = "localhost",
    user = "root",
    password= "",
    database = "dtabel"
)

Acursor = myd.cursor()
# cursor.execute("CREATE TABLE student (name VARCHAR(255), address VARCHAR(255))")
sql = "INSERT INTO student (name ,address) VALUES (%s, %s)"
val = [('vishal','gotri')
      ]

Acursor.execute(sql, val)

# myd.commit()

print(Acursor.rowcount,"record inserted")

ProgrammingError: Failed processing format-parameters; Python 'tuple' cannot be converted to a MySQL type