In [6]:
import mysql.connector

mydata= mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "vishal"
)

mycursor = mydata.cursor()

mycursor.execute("CREATE TEBLE data (name VARCHAR(255),nu
                 
                 
                 mber VARCHAR(255)")
# sql = "INSERT INTO student (name, number) VALUES (%s, %d)"
# val = [('vishal', 123456790),
#   ('hiten', 1234567898)]
# mycursor.executemany(sql, val)

# mydata.commit()

# print(mycursor.rowcount, "record inserted.")

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'TEBLE data (name VARCHAR(255),number VARCHAR(255)' at line 1